*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #060047;
}

h1{
    margin-top: 20px;
    color: white;
    text-shadow: 3px 3px 1px #E90064;
    text-align: center
}

.container{
    width: 350px;
    height: 350px;
    margin: 2rem auto;
    padding: 3rem;
    gap: 2rem;
    background-color: #E90064;
    border-radius: 1rem;
}


input{
    border: none;
    border-radius: 1rem;
    padding: 5px;
    outline: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    
}

label{
    text-align: center;
    margin-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.informe{
    margin-bottom: 15px;
}

.informado{
    margin-top: 15px;
}

button{
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 100%;
    margin-top: 3rem;

}

.botao{
    margin-left: 10%;
    width: 80%;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
