*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fonte-lol;
}

@font-face {
    font-family: fonte-lol;
    src: url("fonte/BeaufortforLOL-Bold.otf");
}

.container{
    border: 1px solid black;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    background: url(img/tristana.jpg);
    background-size: cover;
    background-position-x: center;
    margin-bottom: 2rem;

}

.informacoes{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-left: 1rem;
    background-image: linear-gradient(to right, #3c285ddb, #3c285ddb, #3c285ddb, rgba(255, 255, 255, 0));
    
}

.informacoes p{
    margin-top: 1rem;
}

.textos{
    color: white;
}

.textos span{
    color: #02ea00;
}

.formulario{
    
}

.formulario input, button{
    width: 75%;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 0.3rem;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button{
    border-radius: 1rem;
    background-color: hsl(36.25deg 98.36% 47.84%);
    font-weight: bolder;
    cursor: pointer;
    
}



/* Formatacao Carrosel Automatico ----------------------------------------------------------*/

section.carrossel-automatico{
    margin: 2rem auto;
    width: 800px;
    height: 600px;
    overflow: hidden;
    border-radius: 1rem;
}

section.carrossel-automatico img{
    width: 800px;
    height: 500px;
    
}

div.carrossel1{
    display: flex;
    transform: translateX(0);
    transition: 0.4s ease-in;
}

div.carrossel1 h1{
    text-align: center;
}

/* Carrossel Manual --------------------------------------------------------------------- */

section.carrossel-manual{
    height: 700px;
    width: 800px;
    overflow: hidden;
    margin: 2rem auto;
    border: 1px solid black;
    border-radius: 1rem;
    position: relative;
}

section.carrossel-manual img{
    object-fit: cover;
    height: 700px;
    width: 800px;
    
}

div#carrossel2{
    display: flex;
    transform: translateX(0);
    transition: 0.4s ease-in;
}

div#esquerda, #direita{
    font-size: 3rem;
    position: absolute;
    cursor: pointer;

}

#direita{
    right: 25%;
    bottom: -75%;
}

#esquerda{
    left: 25%;
    bottom: -75%;
}

