
body{
    background-color: rgb(236, 227, 245);
}

header{
  
  
}

.navbar{
    background-color: rgb(215, 166, 255);
    margin-bottom: 25px;
}

.card-title{
    text-align: center;
    color: rgb(68, 15, 117);

}

.card{
    margin-bottom: 30px;


}
footer{
    text-align: center;
    color: rgb(0, 0, 0);
}